.todos {
  &-items {
    width: 100%;
    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__title {
      display: flex;
      align-items: center;
    }
    &__checkbox {
      height: auto;
      margin-right: 10px;
      cursor: pointer;
    }
    &__delete {
      padding: 5px 20px;
      cursor: pointer;
    }
  }
}