.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.todos {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;

  &-main {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}
