<footer class="todos-footer">
  <div class="todos-footer__counter">{{(todoItemsCount$ | async)}} items left</div>
  <nav class="nav">
    <ul class="nav-list flex">
      <li class="nav-list__item">
        <a class="nav-list__link" role="link" aria-label="all-items"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/todo-items">
          All
        </a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" role="link" aria-label="active-items"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/todo-items/active">
          Active
        </a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" role="link" aria-label="completed items"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/todo-items/completed">
          Completed
        </a>
      </li>
    </ul>
  </nav>
</footer>