/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active, *:hover {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  cursor: default;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

input {
  line-height: 45px;
  height: 45px;
  font-size: 45px;
}

// global adjustment styles

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// loader
@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 9999;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  width: 150px;
  height: 150px;
  display: block;
  overflow: visible;
  will-change: transform;
  opacity: 1;
}

.loader div {
  height: 100%;
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotateLoader linear 3.5s infinite;
  border-top-color: #FF8D40;
  border-left-color: blueviolet;
  animation-timing-function: cubic-bezier(.55, .38, .21, .88);
  animation-duration: 3s;
  will-change: transform;
}